/*
	Styles.css
*/
html, body {
	color: #fff;
	overflow: hidden;
	user-select: none;
	font-family: monospace;
	background-color: #000;
	text-shadow: 2px 2px 4px #000;
}
select, input[type='button'], input[type='checkbox'] {
	outline: none;
	cursor: pointer;
}
input[disabled='disabled'], input[disabled] {
	cursor: no-drop;
}
input[type='range'] {
	outline: none;
	cursor: col-resize;
}
img {
	-webkit-user-drag: none;
}

/*
	ScrollBar
*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    border-radius: 4px;
    margin: 6px 0px 6px 0px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #e7e7e7;
}
::-webkit-scrollbar-thumb:hover {
    border-radius: 4px;
    background: #f0f0f0;
}
::-webkit-scrollbar-thumb:active {
    background: #fff;
    border-radius: 4px;
}

/*
	Separator
*/
.SEPARATOR_00 {
	height: 2px;
	margin-top: 10px;
	padding-left: 2px;
	padding-right: 2px;
	border-radius: 6px;
	margin-bottom: 20px;
	width: calc(100% - 4px);
	background-color: #0000;
	background-image: linear-gradient(45deg, #fff, #6661, #0000);
}

/*
	Divs
*/
.DIV_LIST {
	top: 38px;
	left: 0px;
	overflow: hidden;
	position: absolute;
	width: calc(100% - 280px);
	height: calc(100% - 286px);
	background-image: linear-gradient(146deg, #090f1b, #162a50);
}
.DIV_LOG {
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 248px;
	position: absolute;
	background-size: auto 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../img/logo.png');
}
.DIV_ACTIONS {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 22px;
	padding: 8px;
	position: absolute;
	background-image: linear-gradient(45deg, #28467f, #1c325f);
}
.DIV_OPTIONS {
	top: 38px;
	right: 0px;
	padding: 6px;
	width: 268px;
	position: absolute;
	height: calc(100% - 298px);
	background-image: linear-gradient(0deg, #162a50, #2a4a86);
}
.DIV_TITLE {
	z-index: 10;
	font-size: 28px;
	margin-top: 10px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}
.DIV_LIST_INTERNAL {
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 10;
	height: 100%;
	overflow: auto;
	transition: 0.1s;
	position: absolute;
	background-color: #0000;
}
.DIV_GAMELIST_BG {
	top: -6px;
	left: -6px;
	z-index: 1;
	position: absolute;
	background-size: cover;
	background-color: #0006;
	width: calc(100% + 12px);
	height: calc(100% + 12px);
	background-position: center;
	background-repeat: no-repeat;
	background-blend-mode: screen;
	filter: blur(2px) opacity(0.7);
}
.GAME_ENTRY {
	margin: 6px;
	z-index: 10;
	height: 80px;
	display: flex;
	cursor: pointer;
	overflow: hidden;
	max-height: 78px;
	flex-wrap: nowrap;
	padding-left: 0px;
	border-radius: 6px;
	align-items: center;
	align-content: center;
	width: calc(100% - 12px);
	box-shadow: 0px 0px 4px #000;
	backdrop-filter: blur(4px) invert(0.1);
	background-image: linear-gradient(90deg, #3a4b6b82, #0000);
}
.GAME_ENTRY:hover {
	box-shadow: 0px 0px 10px #0006;
	background-image: linear-gradient(45deg, #3a4b6b, #3a4b6b82);
}
.GAME_ENTRY:active {
	backdrop-filter: sepia(0.5) blur(6px);
	background-image: linear-gradient(45deg, #080e, #0400, #0000);
}
.GAME_ENTRY_COMPACT {
    max-height: 24px !important;
    padding-left: 10px !important;
    width: calc(100% - 22px) !important;
}
.GAME_ENTRY_BG {
	top: 0px;
	left: 0px;
	z-index: 0;
	width: 100%;
	height: 100%;
	filter: blur(4px);
	position: absolute;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-mask-image: linear-gradient(45deg, #0006, #0000, #0000);
}
.GAME_ENTRY:hover .GAME_ENTRY_BG {
	filter: blur(3px);
	-webkit-mask-image: linear-gradient(45deg, #000c, #0002, #0000);
}
.GAME_ENTRY:focus .GAME_ENTRY_BG {
	filter: blur(3px);
	-webkit-mask-image: linear-gradient(45deg, #000c, #0002, #0000);
}
.GAME_ENTRY:active .GAME_ENTRY_BG {
	-webkit-mask-image: linear-gradient(45deg, #000, #0006, #0000);
}
.GAME_DETAILS {
	z-index: 1;
	cursor: pointer;
	width: calc(100% - 88px);
}
.DIV_RUN_BTN {
	bottom: 4px;
	position: absolute;
	width: calc(100% - 12px);
}
.DIV_GAME_DETAILS {
	z-index: 100;
	height: 256px;
	padding: 12px;
	display: none;
	overflow: hidden;
	flex-wrap: nowrap;
	position: absolute;
	border-radius: 6px;
	align-items: center;
	top: calc(50% - 140px);
	left: calc(10% - 24px);
	width: calc(80% - 24px);
	justify-content: center;
	max-width: calc(80% - 24px);
}
.DIV_GAME_DETAILS_LABELS {
	margin-left: 12px;
}
.DIV_SETTINGS {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	text-align: center;
	background-image: linear-gradient(180deg, #2a3a56, #0d1932);
}
.DIV_SETTINGS_BG {
	top: 0px;
	left: 0px;
	z-index: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: auto 50%;
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 10px #0002 inset;
	background-image: url('../img/logo.png');
}
.DIV_SETTINGS_LIST {
	z-index: 10;
	padding: 8px;
	overflow: auto;
	font-size: 14px;
	text-align: left;
	margin-left: 8px;
	margin-bottom: 8px;
	border-radius: 6px;
	font-family: sans-serif;
	background-color: #111d;
	width: calc(100% - 32px);
	height: calc(100% - 146px);
	backdrop-filter: blur(4px);
	box-shadow: 0px 0px 10px #0006;
	background-image: linear-gradient(180deg, #000e2cab, #0000);
}
.DIV_settingsEntry {
	padding: 2px;
	overflow: hidden;
	font-style: italic;
}
.DIV_settingsEntryFlex {
	display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}
.DIV_settingsH2 {
	font-size: 20px;
	font-style: italic;
	font-family: monospace;
	margin: 8px 0px 8px 2px;
}
.DIV_settingsSave {
	width: 100%;
	z-index: 10;
	position: absolute;
	text-align: center;
}
.DIV_labelSelectedGame {
	display: flex;
	flex-wrap: wrap;
	font-size: 14px;
	text-align: center;
	align-items: center;
	align-content: center;
	justify-content: center;
}

/*
	Images
*/
.IMG_GAME_ICON {
	z-index: 1;
	width: 66px;
	cursor: pointer;
	border-radius: 6px;
	margin: 6px 10px 6px 6px;
	box-shadow: 0px 0px 10px #0006;
}
.IMG_APP_ICON {
	width: 256px;
	border-radius: 6px;
	box-shadow: 0px 0px 10px #000;
}

/*
	Input
*/
.APP_LOG {
	color: #0f0;
	height: 100%;
	resize: none;
	border: none;
	cursor: text;
	outline: none;
	transition: 0.16s;
	width: calc(100% - 4px);
	backdrop-filter: blur(1.4px);
	background-repeat: no-repeat;
	text-shadow: 2px 2px 2px #000;
	background-image: linear-gradient(180deg, #000000db, #090f1b);
}
.BTN_RUN {
	left: 8px;
	width: 100%;
	bottom: 18px;
	height: 50px;
	font-size: 18px;
	margin-top: 2px;
}
.BTN_STOP {
	float: right;
	margin-right: 16px;
	padding: 1px 98px 1px 100px;
}
.BTN_SAVE {
	font-size: 18px;
	min-width: 300px;
	min-height: 60px;
}
.BTN_selectPath {
    float: right;
    font-style: italic;
    border-radius: 4px;
    padding: 4px 14px 4px 14px;
    background-image: linear-gradient(180deg, #fff, #bbb);
}
.BTN_selectPath:active {
	background-image: linear-gradient(0deg, #fff, #bbb);	
}
.SELECT_settings {
	margin-left: 4px;
	font-style: italic;
	border-radius: 4px;
	padding: 4px 10px 4px 10px;
	background-image: linear-gradient(180deg, #fff, #bbb);
}

/*
	Labels
*/
.LABEL_detailsGameName {
	font-size: 28px;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}
.LABEL_checkbox {
	cursor: pointer;
	font-size: 16px;
	font-style: italic;
}
.LABEL_emuColor {
	color: #fffb8e;
}
.LABEL_gameTitle {
	font-size: 20px;
	cursor: pointer;
}
.LABEL_gameTitleCompact {
	font-size: 16px;
	cursor: pointer;
}
.LABEL_settingsPath {
	left: 170px;
	cursor: text;
	position: sticky;
	font-style: initial;
	font-family: monospace;
	user-select: all !important;
}

/*
	Misc
*/
.align-center {
	text-align: center;
}
.user-can-select {
	cursor: text;
	user-select: all !important;
}
.none {
	display: none;
}